# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Local development files
npm-debug.log*
yarn-error.log*

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Other files
.DS_Store
